<% include ../partials/header_big %>


<div class="jumbotron">
	<h1> About Me </h1>
	<hr>
	<p style="font-size: 12;"><span><img src="myface.jpg" style="float: left; max-height: 50%; max-width: 50%; padding-left: 50px; padding-right: 50px;"></span>I'm a former WSU Student who pursued a B.S. in Computer Science. I found that the traditional college style of learning wasn't working for me. Since then, I've been self learning using Udemy and trial and error. I plan on taking a Data Science immersive bootcamp at General Assembly in Seattle this April.</p>

	<p>Here are a few of my accomplishments and my experience</p>
	<ul style="list-style-type: none; font-size: 12;">
		<li> - 2013 - 2014: Studied Java and Data Structures through AP Java (UW Equivalent CSE 142/143)
		<li> - 2014 - Won a TEALS coding competition against over 50 other teams</li>
		<li> - 2014 - Learned basic coding using the C language at WSU as a freshman</li>
		<li> - 2015 - Learned Data structures using the C language as well as C++</li>
		<li> - 2016 - Continued to advanced data structures using C++</li>
		<li> - 2017 - Left WSU and began to self teach myself, went back and redid my data structures assignments using Java</li>
		<li> - 2017 - Completed a 60 hour Web Developement Bootcamp on Udemy, learned mostly front end web developement using NodeJs</li>
		<li> - 2017 - 2018: Learned how to develope in Linux and have built this site remotely on an AWS through an Ubuntu virtual machine</li>
	</ul>
	<p> Other life skills and accomplishments </p>
	<ul style="list-style-type: none;">
		<li> - Played the string bass in middle school and continued to play through my first year of college. I played many different pieces with many different orchestras through community youth orchestras and invitational programs.</li>
		<li> - I swam on my high school swim team all four years</li>
		<li> - I have been a math tutor since 2012 and still tutor occasionally</li>
		<li> - I have been a lifeguard and a swim coach/instructor at the Washington Athletic Club since 2012<li>
		<li> - At my job as a lifeguard I was responsible for responding to medical emergencies in the building, I have kept my cool responding to heart attacks, seizures, schizophrenic breaks, ect.</li>
		
 
</div>


<% include ../partials/footer %>
