<% include ../partials/header_big %>


<div class="jumbotron">
	<h1>About Me</h1>
	<hr>
	<div id="about me intro" style="padding-bottom: 100px;">
		<p style="font-size: 12;"><span><img src="myface.jpg" style="float: left; max-height: 50%; max-width: 50%; padding-left: 50px; padding-right: 50px;"></span>I'm a former WSU Student who pursued a B.S. in Computer Science. I found that the traditional college style of learning wasn't working for me. Since then, I've been self learning using Udemy and projects. I plan on taking a Data Science immersive bootcamp at General Assembly in Seattle this April.</p>
	</div>
	<hr>
	<p> Life skills and accomplishments </p>
	<ul style="list-style-type: none;" class="list">
		<li> - Played the string bass in middle school and continued to play through my first year of college. I played many different pieces with many different orchestras through community youth orchestras and invitational programs.</li>
		<li> - I swam on my high school swim team all four years</li>
		<li> - I have been a math tutor since 2012 and still tutor occasionally</li>
		<li> - I have been a lifeguard and a swim coach/instructor at the Washington Athletic Club since 2012<li>
		<li> - At my job as a lifeguard I was responsible for responding to medical emergencies in the building, I have kept my cool responding to heart attacks, seizures, schizophrenic breaks, ect.</li>
</div>


<% include ../partials/footer %>
