<% include ../partials/header_big %>


<div class="jumbotron">
	<h2> About Me <h2>
	<table>
		<tr>
			<td> </td>
			<td><h3>I'm a former WSU Student who purused a B.S. in Computer Science. I found that the college style of learning wasn't working for me. Since then, I've been self learning using Udemy and trial and error. I plan on taking a Data Science immersive bootcamp at General Assembly in Seattle this April.<h3></td>
		<tr>
	</table>
</div>


<% include ../partials/footer %>
