<% include ../partials/header_big %>

<div class="jumbotron">

	<h1>Coding Experience</h1>
	<hr>
	<img src="logos.png" style="float: left; max-height: 50% max-width: 25%; margin-right: 50px; margin-left: 50px; margin-bottom: 20px; width: 400px; height: auto;">
	<ul style="list-style-type: none;" class="list">
		<li> - 2013 - 2014: Studied Java and Data Structures though AP Java (UW Equivalent of CSE 142/143)</li>
		<li> - 2014 - Won a TEALS coding competition against over 50 other teams</li>
		<li> - 2015 - Learned Data structures using the C language as well as C++</li>
		<li> - 2016 - Continued to advanced data structures using C++</li>
		<li> - 2017 - Left WSU and began to self teach, went back and redid my data structures assignments using Java </li>
		<li> - 2017 - Completed a 60 hour Web Developement Bootcamp on Udemy, focused mainly on front end developement using NodeJs and RESTful routing</li>
		<li> - 2017 - 2018: Learned how to develope in Linux and have built this site remotely on AWS through an Ubuntu virtual machine </li>
	</ul>
</div>
