<% include ../partials/header_big %>
<div class="jumbotron">
        <h1>Welcome to my site, dude!</h1>
        <p>I hope you have a totally tubular time here bro!</p>
    </div>
</main>

<% include ../partials/footer %>
